html, body, #root {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
.App {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    .sider {
        padding: 18px;
        color: #fff;
        background: #2e3238;
        .sider-search {
            margin: 18px 0 6px;
            .ant-input {
                background: #26292e;
                color: #fff;
                border: none;
                outline: none;
            }
            svg {
                fill: #fff;
            }
        }
    }
    
}