.sider-tab {
    color: rgb(120,120,120);
    .ant-tabs-ink-bar {
        display: none !important;
    }
    .ant-tabs-bar {
        border-bottom: none;
        margin: 0;
    }
    // .ant-tabs-tab-active {
    //     color: green;
    // }
    .user-tab {
        color: rgb(120,120,120);
    }
}